{% extends 'base.html.twig' %}

{% block body %}
	<h1>Lorem ipsum dolor sit amet</h1>
	<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat fugit odio aliquam eligendi ea esse minima, aspernatur et quibusdam dolores illo maiores nam quasi dolorem facere quae nulla atque doloremque debitis ex libero voluptatem. Excepturi tenetur consequatur deleniti doloribus quos, doloremque aspernatur atque, numquam consectetur dolor odit quibusdam iusto quod.</p>
	<ul>
		<li>Lorem ipsum dolor sit, amet consectetur adipisicing.</li>
		<li>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</li>
		<li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas asperiores iste perspiciatis.</li>
		<li>Lorem, ipsum dolor.</li>
		<li>Lorem ipsum dolor sit.</li>
		<li>Lorem ipsum dolor sit amet.</li>
		<li></li>
	</ul>
{% endblock %}
